ant/
debug/
pseudo/
config/
deploy/
deployLocal/
Logs/
resource-bundles/
Soql/
data/
scripts/
Referenced Packages/

.settings
.metadata/
.metadata/.log
.metadata/version.ini
.metadata/.plugins/

.vscode/*
.vim-force.com/session.properties

.forceignore
package.json
package-lock.json
.sfdx/

*.log
*.project
*.settings
*.sublime-project
*.sfuo
*.sfproj
*.anonymous
*/salesforce.schema
*sublime*
**/.cache
**/.localHistory
*.sfsln
*.credprops
*.rmprops

README.md
salesforce.schema
sfdx-project.json
.sfdx/sfdx-config.json

Gui.sfproj
TestsResultsCache.xml
src/classes/BaseDataSourceGLAnalysis.cls
src/classes/BaseDataSourceGLAnalysis.cls-meta.xml
src/classes/DataSourceGLAnalysisAPTrans.cls
src/classes/DataSourceGLAnalysisAPTrans.cls-meta.xml
src/classes/DataSourceGLAnalysisARTrans.cls
src/classes/DataSourceGLAnalysisARTrans.cls-meta.xml
src/classes/DataSourceGLAnalysisGLTrans.cls
src/classes/DataSourceGLAnalysisGLTrans.cls-meta.xml
src/classes/DataSourceRecordGLAnalysis.cls
src/classes/DataSourceRecordGLAnalysis.cls-meta.xml
settings.sfprojsettings
Inovatec Systems Corpbjovanovic@inovatec.ca.lms.bokidev.rmprops
Gui.credprops
src/classes/JobHelperGenerateTestData.cls
src/classes/JobHelperGenerateTestData.cls-meta.xml
src/classes/ScheduledJobGenerateTestData.cls-meta.xml
src/classes/ScheduledJobGenerateTestData.cls
src/classes/JobHelperArchCsvGLTransaction.cls-meta.xml
src/classes/JobHelperArchCsvGLTransaction.cls
/src/staticresources/AppVersion.resource
force.json
.forceCode

.prettierignore
.prettierrc
.eslintrc.json
jsconfig.json
/srcTemp*